<!doctype html>
<html ng-app="DoraemonRecorder" ng-csp>
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/angular-csp.css" rel="stylesheet">
    <!-- endbuild -->
    
  </head>
  <body>
    <div ng-controller="PanelController" style="width: 350px">
        <div class="page-header lessMargin">
            <h4>Private Pixels Steps Recorder <small ng-show="loggedIn"> {{userEmail}}</small><small ng-hide="loggedIn"> Enter credentials to get started</small></h4>
        </div>
        <form ng-hide="loggedIn" ng-submit="login()">
            <span ng-show="loginFailed" style="color: red">Could not authenticate. Try again.</span>
            <h6>Log In</h6> 

            <input type="text" class="username" name="email" placeholder="Email" ng-model='userEmail'>
            <input type="password" class="password" name="password" placeholder="Password" ng-model='password'>
            </br>
            </br>
            <button class="btn btn-sm themeColorA" type="submit">Log In</button>
        </form>
        <div ng-show="loggedIn">
            <div class="steps" style='margin-bottom: 15px; max-height: 250px; overflow: auto;'>
                <h6>Steps Recorded:</h6>
                <div class="panel panel-default step" ng-repeat="step in recordedSteps track by $index">
                    <div class="panel-body" style='padding: 3px;'>
                        #{{$index + 1}} - {{step}}
                    </div>
                </div>
            </div>

            <div class="toolbar">
                <button type="button" class="btn btn-sm themeColorA" ng-click="recordUISteps()">{{recordButtonText}}</button>
                <button type="button" class="btn btn-sm btn-default sharpBorders" ng-disabled="!recording" ng-click="takeSnapshot()">Take Snapshot</button>
                <button type="button" class="btn btn-sm themeColorA" ng-disabled="!recording" ng-click="saveSteps()">Save Steps</button>
            </div>
        </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="app.js"></script>
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
